{% load static %}
</main>
<footer class="site-footer section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-12 mb-4 pb-2">
                <a class="navbar-brand mb-2" href="index.html">
                    <i class="bi-back"></i>
                    <span>Stay Updated</span>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <h6 class="site-footer-title mb-3">Resources</h6>

                <ul class="site-footer-links">
                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">Home</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">How it works</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">FAQs</a>
                    </li>

                    <li class="site-footer-link-item">
                        <a href="#" class="site-footer-link">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                <h6 class="site-footer-title mb-3">Information</h6>

                <p class="text-white d-flex mb-1">
                    <a href="tel: +92-312-526-2605" class="site-footer-link">
                        +92-312-526-2605
                    </a>
                </p>

                <p class="text-white d-flex">
                    <a href="mailto:syedmehmood06@outlook.com" class="site-footer-link">
                        syedmehmood06@outlook.com
                    </a>
                </p>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    English</button>

                    <ul class="dropdown-menu">
                        <li><button class="dropdown-item" type="button">English</button></li>
                    </ul>
                </div>

                <p class="copyright-text mt-lg-5 mt-4">Copyright © 2024 Synersoft Technologies. All rights reserved.
                <br><br>Design: <a rel="nofollow" href="https://synersoft.biz" target="_blank">Syed Mehmood UL Hassan</a></p>
                
            </div>

        </div>
    </div>
</footer>
<!-- JAVASCRIPT FILES -->
<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'js/jquery.sticky.js'%}"></script>
<script src="{% static 'js/click-scroll.js'%}"></script>
<script src="{% static 'js/custom.js'%}"></script>
<script>
    // Function to format the current date
    function formatDate() {
        var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        var today = new Date();
        return today.toLocaleDateString('en-US', options);
    }

    // Inject the current date into the navbar
    document.getElementById('current-date').textContent = formatDate();
</script>
</body>
</html>